.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*=col-]{
    float: left;
    width: 100%;
}
.col-0{
    display: none;
}

.col-1 {
    width: 10%;
}
.col-1-5{
    width:15%;
}

.col-2 {
    width: 20%;
}
.col-2-5{
    width: 25%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

body{
    background-image: url(../cartas/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 10px;
}

.escogerCarta{
    position: relative;
    top: 35px;
    left: 125px;
    width: 100px;
    margin-right: -50px;
}

.carta{
    width: 100px;
    margin-bottom: -140px;
}

.colocandoCartas{
    position: relative;
    left: 10em;
    float:left;
    width:100px;
    height: 155px;
    margin-right: 10px;
    border:1px solid rgb(188, 188, 188);
}

.cogiendoCartas{
    position: relative;
    top:20px;
    width:100px;
    height: 155px;
    margin-top: 6%;
    margin-right: 10px;
}

.espacio{
    margin:1px 10px;
}
footer{
    display: block;
    position: relative;
    top: 7em;
    width: 100%;
    height: 100%;
    background-color: darksalmon;
    color: white;
    text-align: center;
}

.hide {
    display: none;
}

.drag-over {
    border: dashed 3px red;
}